@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";

.section {
  padding: 20px;
  @include tablet {
    padding: 30px;
  }
  @include desktop {
    padding: 50px;
  }
  &__ul {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    justify-content: center;
    text-decoration: none;
    &--text {
      padding: 10px;
      color: $cultured;
      width: 250px;
      min-height: 100px;
      border: 2px solid $pacific-blue;
      line-height: 25px;
      border-radius: 50px;
      text-align: center;
      display: flex;
      flex-direction: column;
      @include tablet {
        margin-left: 200px;
      }

      &--details {
        color: $pacific-blue;
      }
    }
    @include tablet {
      grid-template-columns: auto auto;
      gap: 30px;
    }
    @include desktop {
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
      gap: 60px;
    }
  }
}
