@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 100vh;

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $pacific-blue;
    color: $black;
    width: 250px;
    min-height: 400px;
    gap: 40px;
    padding: 10px;
    border: 3px solid black;
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px rgb(143, 212, 255),
      0 0 15px rgb(143, 212, 255), 0 0 30px rgb(143, 212, 255),
      0 0 40px rgb(143, 212, 255);
    &:active {
      transform: scale(0.95) rotateZ(1.7deg);
    }
    @include tablet {
      width: 500px;
      min-height: 350px;
      flex-direction: row;
      padding: 20px;
    }
    @include desktop {
      width: 600px;
      min-height: 350px;
      flex-direction: row;
      padding: 30px;
    }
    &--image {
      width: 160px;
      height: 160px;
      object-fit: cover;
      transform: rotate(0deg) translate(00px, 10px);
      border: 3px solid black;
      //border-radius: 50%;
      @include tablet {
        transform: rotate(-2deg) translate(20px, -5px);
        width: 230px;
        height: 230px;
      }
      @include desktop {
        width: 250px;
        height: 250px;
      }
    }
    &--title {
      font-weight: 800;
      font-size: rem(20);
      padding-bottom: 30px;
      @include tablet {
        font-size: rem(23);
      }
      @include desktop {
        font-size: rem(26);
      }
    }
  }

  &__back {
    text-decoration: none;
    @include tablet {
      padding-top: 20px;
    }
    @include desktop {
      padding-top: 30px;
    }
    &--button {
      font-size: rem(17);
      font-weight: 700;
      //text-transform: uppercase;
      color: $cultured;
      //background-color: $pacific-blue;
      //width: 160px;
      //padding: 8px 0 8px 0;
      margin: 10px;
      //border: 2px solid $pacific-blue;
      //border-radius: 50px;
      cursor: pointer;
      @include tablet {
        padding: 10px 0 10px 0;
      }
      &:hover {
        color: $pacific-blue;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  &__item {
    display: flex;
    gap: 10px;
    font-size: rem(14);
    @include tablet {
      font-size: rem(16);
    }
    @include desktop {
      font-size: rem(18);
    }
    &--detail {
      font-weight: 700;
    }
  }
}

.text__error {
  padding: 10px;
  color: $cultured;
  width: 250px;
  min-height: 50px;
  border: 2px solid $pacific-blue;
  line-height: 25px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
