@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";

.character {
  text-decoration: none;
  cursor: pointer;
  &__card {
    padding: 15px;
    border-radius: 10px;
    border: 4px solid $pacific-blue;
    width: 160px;
    min-height: 250px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    background-color: $pacific-blue;
    color: $black;
    &:hover {
      background-color: $dark-sea-green;
      color: $black;
      border: 4px solid $forest-green-traditional;
      box-shadow: rgba(131, 192, 138, 0.25) 0px 54px 55px,
        rgba(131, 192, 138, 0.12) 0px -12px 30px,
        rgba(131, 192, 138, 0.12) 0px 4px 6px,
        rgba(131, 192, 138, 0.17) 0px 12px 13px,
        rgba(131, 192, 138, 0.09) 0px -3px 5px;
    }
    @include tablet {
      width: 200px;
      min-height: 300px;
    }
    @include desktop {
      width: 250px;
      min-height: 350px;
    }

    &--image {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-radius: 10px;
      @include tablet {
        height: 200px;
      }
      @include desktop {
        height: 250px;
      }
    }
    &--title {
      font-weight: 800;
      font-size: rem(17);

      @include tablet {
        font-size: rem(19);
      }
      @include desktop {
        font-size: rem(21);
      }
    }
    &--species {
      font-size: rem(14);
      @include tablet {
        font-size: rem(16);
      }
      @include desktop {
        font-size: rem(18);
      }
    }
  }
}
