@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";

.section {
  padding: 20px;
  @include tablet {
    padding: 30px;
  }
  @include desktop {
    padding: 50px;
  }
  &__ul {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    justify-content: center;
    text-decoration: none;
    &--text {
      color: $cultured;
      &--details {
        color: $pacific-blue;
      }
    }
    @include tablet {
      grid-template-columns: auto auto;
      gap: 30px;
    }
    @include desktop {
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
      gap: 60px;
    }
  }
}
