@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  @include tablet {
    padding: 30px;
  }
  @include desktop {
    padding: 50px;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    &--img {
      width: 300px;
      height: 500pxS;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 100px;
    }
    &--text {
      color: $cultured;
      line-height: 25px;
      text-align: center;
      display: flex;
      flex-direction: column;
      // justify-content: center;

      &--details {
        color: $pacific-blue;
      }
    }
    @include tablet {
      grid-template-columns: auto auto;
      //gap: 30px;
    }
    @include desktop {
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
      //gap: 60px;
    }
  }
}
