@import "../core/variables";
@import "../core/mixins";
@import "../core/functions";

.form__filter {
  &--name {
    margin-right: 10px;
    color: $cultured;
    font-size: rem(15);
    @include tablet {
      font-size: rem(17);
    }
  }

  &--input {
    width: 160px;
    padding: 5px 6px;
    background-color: $black;
    color: $cultured;
    border: 2px solid $pacific-blue;
    font-family: $font-web;
    font-size: rem(13);

    @include tablet {
      font-size: rem(15);
    }
  }
}
