@import "../core/variables";
@import "../core/functions";
@import "../core/mixins";

.form__select {
  &--name {
    margin-right: 10px;
    color: $cultured;
    font-size: rem(17);
  }
  &--input {
    padding: 5px 6px 5px 6px;
    width: 160px;
    background-color: $black;
    color: $cultured;
    border-radius: 50px;
    border: 2px solid $pacific-blue;
    font-size: rem(15);
    cursor: pointer;
  }
}
