@import "../core/variables";
@import "../core/functions";
@import "../core/mixins";

.form__radio {
  &--legend {
    padding: 10px 0 10px 0;
    color: $cultured;
    font-family: $font-family-roboto;
    font-size: rem(17);
  }
  &--wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &--name {
    color: $cultured;
    font-family: $font-family-roboto;
    font-weight: 400;
    font-size: rem(14);
  }
  &--input {
    font-size: rem(14);
    cursor: pointer;
  }
}
