@import "../core/variables";
@import "../core/mixins";
@import "../core/functions";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
  @include tablet {
    gap: 35px;
  }
  @include desktop {
    gap: 25px;
    flex-direction: row;
    justify-content: center;
  }
}
