@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";

.footer {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  gap: 10px;
  background-color: $black;

  &__text {
    font-size: rem(14);
    color: $cultured;
  }
}
