@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;

  &__logo {
    width: 280px;
    @include desktop {
      width: 500px;
    }
  }

  &__title {
    font-size: rem(20);
    font-weight: 500;
    color: $cultured;
    padding: 10px 0;
    @include tablet {
      font-size: rem(25);
    }
    @include desktop {
      font-size: rem(30);
    }
  }
}
