@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";

.header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  @include tablet {
    height: 20vh;
    padding: 20px;
  }
  @include desktop {
    height: 25vh;
    padding: 30px;
  }
  &__logo {
    width: 100%;
    height: 10vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    @include tablet {
      height: 15vh;
    }
    @include desktop {
      height: 20vh;
    }
  }
  &__title {
    font-family: $font-family-shadows;
    font-size: rem(20);
    font-weight: 500;
    color: $cultured;
    padding: 10px;
    @include tablet {
      font-size: rem(30);
    }
    @include desktop {
      font-size: rem(40);
    }
  }
}
