//fonts
$font-family-roboto: "Roboto", sans-serif;

//colors
$pacific-blue: #07b0c7ff;
$black: #000000ff;
$dark-sea-green: #83c08aff;
$forest-green-traditional: #204d23ff;
$cultured: #f3f3f3ff;
